.NoteStyle{
    background-color: yellow;
    padding: 15px;
    padding-bottom: .2em;
    padding-top: .2em;
    margin-top: 30px;
}

.CodeStyle{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
    color: blue;
    font-size: 1.3em;
    padding-top: 0.01em;
    overflow: auto;
    white-space: nowrap;
    font-weight: 1900;
    border: 1px solid blue;
    margin:3px 0px;
}

.ChapterStyle{
    text-align: left;
    text-decoration: overline;
    font-size: 1.5em;
    margin-top:35px;
}

.ExplanationStyle{
    box-shadow: rgba(178, 213, 245, 1) 0px 0px 100px 0px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:30px;
}

.ResultStyle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(85, 175, 231, 0.75);
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:10px;
}

.ResultStyle button {
    background-color: #2c58c7; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin: .6em .2em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .ResultStyle button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .ResultStyle button:active {
    background-color: #2c58c7;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
  }

.TitleStyle{
    text-align: center;
    background-color: orange;
    padding: 1.2px;
    padding-bottom: .2em;
    margin-top: 4em;
    margin-bottom: 25px;
    font-size: 1.9em;
}