.Title {
  text-align: center;
}

.Header{
  text-align: left;
}

.Explanation{
  text-align: left;
}

.Code{
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: green;
  margin: 1.0em;
  padding: 1px;
  padding-left: 1.2em;
  font-size: 1.1em;
}

.Result{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cadetblue;
  margin: 1.0em;
  padding: 1px;
  padding-left: 1.2em;
}